@SETTINGS
# max time in seconds
	"Max Time" = "3600"
# Preprocessing not implemented yet
	"Preprocess Buildorder" = "0"
	"Max unchanged Generations" = "1000"
	"Max Length" = "96"
	"Max Runs" = "10"
# max timeout for each order in seconds
	"Max Timeout" = "266"
# Allow to ignore unnecessary goals (mainly for using for example only "lair" instead of both "lair" and "hatchery")
	"Allow goal adaption" = "1"
# Breed Factor:
# This parameter determines how many % of the players will multiply by 1:1 copy
	"Breed Factor" = "10"
# Crossing Over:
# This parameter determines how many % of the players will multiply by crossover
# CURRENTLY NOT IMPLEMENTED!
	"Crossing Over" = "0"
# 10 means that programs will be sorted into 10-program groups, the best 2 are
# taken for reproduction and the worst two are replaced by their children

# GUI SETTINGS:
	
# set this to 1 to set all details to zero, fastest output
# Real minimalists should take a look at the command line options where SDL can be deactivated completely! 8-DD
# CURRENTLY NOT IMPLEMENTED
	"Minimalist" = "0"

# allow the program to dynamicly reduce the speed of the core to reach this frame rate. 0 = offline.
# CURRENTLY NOT IMPLEMENTED
	"Dynamic Framerate" = "30"
# how a frame update is weighted compared to a core update (e.g. 4 means that a new generation is calculated every 4 frames)
# CURRENTLY NOT IMPLEMENTED
	"Static Framerate" = "4"

# glowing effects
# CURRENTLY NOT IMPLEMENTED
	"Glowing" = "1"
# moving rectangles, 2 = all objects move smoothly, 1 = some objects move smoothly, 0 = all objects jump directly to their destination
# CURRENTLY NOT IMPLEMENTED
	"Smooth movement" = "2"
# Rounded rectangles, saves a little cpu power if deactivated (the computer loves simple object :-D
# CURRENTLY NOT IMPLEMENTED
	"Rounded rectangles" = "1"
# use background bitmap, saves some cpu power if deactivated
# CURRENTLY NOT IMPLEMENTED
	"Background bitmap" = "1"
# Transparency, let's burn some cpu power
# CURRENTLY NOT IMPLEMENTED
	"Transparency" = "0"
	
	
@END


