@SETTINGS
# 1 = english, 2 = german
    "Language" = "1"
# glowing effects
    "Glowing buttons" = "1"
# moving rectangles, 2 = all objects move smoothly, 1 = some objects move smoothly, 0 = all objects jump directly to their destination
    "Smooth movements" = "1"
# Transparency, let's burn some cpu power (NOT YET IMPLEMENTED)
    "Transparency" = "0"
@END
